﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Tea>
@using ContentModels = Umbraco.Web.PublishedModels;
@if(Model.Value<bool>("withMilk"))
{
    <h1>@($"{Model.Name} with milk")</h1>
}
else
{
    <h1>@($"{Model.Name} without milk")</h1>
}